@model IEnumerable<WebMvc.Models.RouteViewModel>;
@{
    ViewData["Title"] = "Route Table";
}
<h3><a asp-controller="Home" asp-action="Index">Go Back</a></h3>
<h2>Route Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopId)
            </th>
            <th>
                Update Button
            </th>
            <th>
                Delete Button
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Order)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.StopId)
                    </td>
                    <td>
                        <a asp-action="RouteUpdate" asp-route-id="@item.Id">Update</a>
                    </td>
                    <td>
                        <a asp-action="RouteDelete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-action="RouteCreate">Create Route</a>